@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.3rem;
  letter-spacing: 1.4px;
}

p,
label,
a,
li,
button {
  line-height: 1.7;
  font-size: 1rem;
}

.btn {
  border: 2px solid white;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

.btn:hover {
  background-color: white;
  color: #333;
}

.btn-dark {
  border: 2px solid #333;
  color: #333;
}

.btn-dark:hover {
  background-color: #333;
  color: white;
}

.btn-dark-solid {
  border: 2px solid #333;
  background-color: #333;
  color: white;
}

.btn-dark-solid:hover {
  opacity: 0.9;
  background-color: #333;
  color: white;
}

ul {
  margin: 0;
}

.page-container {
  margin: 30px;
  /* border: 10px solid #e8ebe8; */
  padding: 10px 120px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 30px 0;
}

.images {
  text-align: center;
  text-transform: capitalize;
  width: 80vw;
  margin: 0 auto 10rem auto;
}

.single-image {
  padding: 1rem 0;
}

.single-product {
  width: 90%;
  max-width: 1170px;
  margin: 3rem auto;
}

#showcase {
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  background-color: #3d405b;
  padding: 20px;
}

#showcase-image-container {
  width: 60%;
}

#showcase-text-container {
  background-color: #3d405b;
  color: white;
  padding: 30px;
  margin: auto;
}

#skills {
  margin-top: 100px;
}

#skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1rem;
  margin-top: 2rem;
}

.skill {
  display: flex;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.skill:hover {
  transform: scale(1.1);
}

.skill:hover .big-number h2 {
  color: #84a59d;
  animation: spin 1s forwards;
}

.big-number {
  width: 20%;
  transition: all 0.5s ease-in-out;
}

.big-number h2 {
  font-size: 3rem;
  font-weight: 800;
  color: #555;
}

.skill-right {
  margin-left: 2rem;
  width: 80%;
}

.skill-right h3 {
  margin-top: 0.5rem;
}

#portfolio {
  margin-top: 100px;
}

#portfolio-showcase-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#portfolio-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
}

.portfolio-item-image {
  width: 350px;
}

.portfolio-item-content {
  display: flex;
  flex-direction: column;
}

.portfolio-item-content-text {
  margin-right: 100px;
  text-align: justify;
}

.portfolio-item-content-text pre {
  overflow-x: scroll;
}
.portfolio-item-content-text code {
  word-wrap: normal;
  overflow-wrap: break-word;
  overflow-x: scroll;
}

#portfolio-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}

@media screen and (min-width: 768px) {
  .single-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
